# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Среда
.venv/
venv/
env/
ENV/
.env
.envrc
.venv.bak/

# Распространение/сборка
dist/
build/
*.egg-info/
*.egg

# Тесты и покрытие
.coverage
.coverage.*
.pytest_cache/
.cache
htmlcov/
.tox/
.nox/